/* Page entière */
body
{ 
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
}

/* Regle CSS flex */
.flex-center
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-around
{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flex-between
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flexcolumncentre
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flexcolumn-between
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.padding-l
{
    padding-left: 30px;
}

.padding-r
{
    padding-right: 20px;
}

/* Taille de texte*/
h1
{
    font-size: 1.1em;
}

h2
{
    font-size: 1em;
}

h3
{
    font-size: 0.8em;
}

p
{
    font-size: 0.6em;
    font-weight: 500;
}

a
{
    text-decoration: none;
    font-weight: 500;
    width: 100%;
}
/* En-tête de la page */
nav
{
    display: flex;
    justify-content: space-between;
}

.liensize-nav
{
    display: flex;
    justify-content: space-around;
    width: 25%;
}

.image-logo
{
    align-items: center;
    justify-content: ;
}

.lien1
{
    color: #0065FC;
}

.lien2
{
    color: black;
}
                /* En-dessous-de-l-en-tete*/

/* Zone de recherche*/
.boutonsearch
{
    width: 400px;
    font-size: 0.8em;
    border-radius: 10px;
}

.iconesearch
{ 
    width: 50px;
    height: 50px;
    background-color: rgb(187,181,184,0.3);
    color: black;
    border-radius: 10px 0 0px 10px;
}

.zonederecherche
{
    height: 50px;
    width: 230px;
    font-size: 18px;
    color: black;
    font-weight: bold;
    border: 1px solid #F2F2F2;
}
.none-search
{
    display: none;
}
input
{
    border: 1px solid black;
    height: 50px;
    width: 100%;
    border-style: none;
}
button
{
    background-color: #0065FC;
    color: white;
}
.fondbleu
{
    background-color: #0065FC;
    color: white;
    padding-left: 20px;
    border-radius: 0px 10px 10px 0px;
    padding-right: 20px;
    height: 50px;
    cursor: pointer;
}

/* Les filtres*/
.lesfiltres
{
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold; 
}

.block-filtre
{
    display: inline-block;
}

.lesfiltres2
{
    display: block;
    width: 100%;
}

.fixe-filtre
{
    border: 1px solid #F2F2F2;
    border-radius: 30px;
    padding-right: 20px;
    cursor: pointer;
}

span
{
    margin-right: 20px;
}

.padding-filtre
{
    padding-left: 10px;
}

.fixe-filtre:hover .padding-filtre
{
    color: #0065FC;
}

.filtreicone
{
    border-radius: 25px;
    width: 50px;
    height: 50px;
    color: #0065FC;
    border: 1px solid #F2F2F2;
    background-color: #deebff;
}

.fixe-filtre:hover .filtreicone
{
    background-color: #0065FC;
    color: white;
}

/* Icone info*/
.info
{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

 .iconeparent
 {
    width: 30px;
    height: 30px;
    border: 2px solid #F2F2F2;
    border-radius: 25px;
    margin-right: 10px;
    color: #0065FC;
 }

                /* Fin de l'en-tete*/

                    /* SECTION */

/* Hebergement a marseille */
#bloc1
{
    display: flex;
    justify-content: space-between;
}

.flex-texte
{
    width: 90%;
}

.flex-texte2
{
    width: 60%;
    
}

.textepop-place
{
    height: 140px;
}

.hebergement-fond-gris1
{
    background-color: #F2F2F2;
    border-radius: 10px;
    width: 63%;
}

.hebergement-fond-gris2
{
    background-color: #F2F2F2;
    border-radius: 10px;
    width: 33%;
}
.cadreheberg
{
  flex: 1;
}

.text-gras
{
    font-size: 0.8em;
    font-weight: bold;
}
.color-bleu
{
    color: #0065FC
}

.color-gris
{
    color: #F2F2F2;
}

/* les plus populaires */
.cadrepopulaire
{
    flex: 2;
}

.flex-populaire
{
   display: flex;
   align-items: center;
}

            /* les Formats images */
/* images hebergement */
.photo-hebergement
{
    width: 100%;
    height: 160px;
    border-radius: 15px 15px 0 0;
    background-size: cover;
    background-position: center;
    object-fit: fill;
}

.fond-blanc
{
    background-color: white;
    margin: 15px;
    border-radius: 10px;
    padding: 5px;
}

.size-bloc-hebergement
{
    width: 30%;
}
/* images les plus populaires */
.photo-populaire
{
    width: 90%;
    height: 180px;
    border-radius: 15px 0px 0px 15px;
    object-fit: cover;
}

                /* Activites a Marseille */
/* reglage general*/
#bloc2
{
    margin-top: 50px;
    margin-bottom: 50px;
}

.bloc-activite
{
    width: 100%;
    align-items: center;
}

.hauteur-titre
{
    padding-left: 10px;
    width: 95%;
}

/* CARTE */

/*  Grande carte */
.grandphoto-activite
{
    box-shadow: 5px 5px 5px 1px #F2F2F2;
    border-radius: 15px;
    width: 23%;
    height: 450px;
}

.grandposition-activite
{
    background-position: center;
    background-size: cover;
    border-radius: 15px 15px 0 0;
    width: 100%;
    height: 400px;
    object-fit: cover;
}

/* Deux premieres petite carte*/
.bloc-adapte-petit
{
    width: 23%;
    height: 450px;
}

.petitphoto-activite1
{
    box-shadow: 5px 5px 5px 1px #F2F2F2;
    border-radius: 15px;
    width: 100%;
}

.petitphoto-activite2
{
    box-shadow: 5px 5px 5px 1px #F2F2F2;
    border-radius: 15px;
    width: 100%;
}

.petitposition-activite1
{
    background-position: center;
    background-size: cover;
    border-radius: 15px 15px 0 0;
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.petitposition-activite2
{
    background-position: center;
    background-size: cover;
    border-radius: 15px 15px 0 0;
    width: 100%;
    height: 130px;
    object-fit: cover;
}

/* Les deux dernieres petites cartes */
.petitphoto-activite3
{
    box-shadow: 5px 5px 5px 1px #F2F2F2;
    border-radius: 15px;
    width: 100%;
}

.petitphoto-activite4
{
    box-shadow: 5px 5px 5px 1px #F2F2F2;
    border-radius: 15px;
    width: 100%;
}

.petitposition-activite3
{
    background-position: center;
    background-size: cover;
    border-radius: 15px 15px 0 0;
    width: 100%;
    height: 140px;
    object-fit: cover;
}

.petitposition-activite4
{
    background-position: center;
    background-size: cover;
    border-radius: 15px 15px 0 0;
    width: 100%;
    height: 170px;
    object-fit: cover;
}

/* Pied de la page*/
footer
{
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    background-color: #F2F2F2; 
}

.hebergemento
{
    margin-right: 15px;
}

.assiste
{
    margin-right: 60px;
}

/* Responsive tablette */

@media screen and (max-width: 768px)
{
    body
    {
        align-items: center;
    }

/* L'en-tete*/
    nav
    {
        flex-direction: column;
        margin-bottom: 40px;   
    }
    .center-logo
    {
        text-align: center;
        width: 100%;
    }
    .image-logo
    {
        margin: 25px 0px 20px 60px;
    }
    .liensize-nav
    {
        align-items: center;
        justify-content: space-around;
        width: auto;
    }
    .border-lien
    {
        border-bottom: 5px solid #F2F2F2;
        width: 100%;
    } 
    .lien1
    {
        align-items: center; 
    }

    .lien2
    {
        align-items: center;  
    }
    .lien2:hover
    {
        color: #0065FC;
    }
/* Icone barre de recherche */
    .boutonsearch
    {
        justify-content: flex-start;
        
    }
    .fondbleu
    {
        padding-right: 0;
    }
    .none-search
    {
       display: block;
    }
    .dekstop-none
    {
        display: none;
    }
/* Filtres */
    .lesfiltres
    {
        flex-direction: column;
        align-items: baseline;
    }

    .block-filtre
    {
        margin: 10px 10px 10px 0;
    }
/* Section Hebergement/Populaire */
    #bloc1
    {
        flex-direction: column-reverse;
    }
    .hebergement-fond-gris1
    {
        background-color: white;
        width: auto;
    }
    .hebergement-fond-gris2
    {
        width: auto;
        border-radius: 0px;
    }
    .flex-around
    {
        flex-direction: column;
        width: auto;
    }
    .size-bloc-hebergement
    {
        width: 90%;
        height: auto;
        box-shadow: 5px 5px 5px 5px #F2F2F2;
    }
/* Activites a Marseille */
    #bloc2
    {
        justify-content: space-around;
    }
    .bloc-activite
    {
        flex-direction: column;
        justify-content: space-between;
    }
    .bloc-adapte-petit
    {
        width: 100%;
        height: auto;
    }

/* Grand photo */    
    .grandposition-activite
    {
        height: 160px;
    }
    .grandphoto-activite
    {
        width: 90%;
        height: auto;
        margin-bottom: 30px;
    }
/* Petite photo */
    .petitphoto-activite1
    {
        width: 90%;
        height: auto;
        margin-bottom: 30px;
    }
    .petitposition-activite1
    {
        height: 160px;
    }
    .petitphoto-activite2
    {
        width: 90%;
        height: auto;
        margin-bottom: 30px;
    }
    
    .petitposition-activite2
    {
        height: 160px;
    }

    .petitphoto-activite3
    {
        width: 90%;
        height: auto;
        margin-bottom: 30px;
    }

    .petitposition-activite3
    {
        height: 160px;
    }

    .petitphoto-activite4
    {
        width: 90%;
        height: auto;
        margin-bottom: 30px;
    }

    .petitposition-activite4
    {
        height: 160px;
    }

/* le footer */
    footer
    {
        flex-direction: column;
        padding-left: 30px;
    }
} 
