/* Page entière */
body
{ 
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
}
/* Regle CSS flex */
.flex-center
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-around
{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.flex-between
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flexcolumncentre
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.flexcolumn-between
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.padding-l
{
    padding-left: 30px;
}
.padding-r
{
    padding-right: 20px;
}
/* Taille de texte*/
h1
{
    font-size: 1.1em;
}
h2
{
    font-size: 1em;
}
h3
{
    font-size: 0.8em;
}
p
{
    font-size: 0.6em;
    font-weight: 500;
}
/* En-tête de la page */
a
{
    text-decoration: none;
    font-weight: 500;
    font-size: 0.6em;
}
nav
{
    display: flex;
    justify-content: space-between;
    height: 50px;
}
.liensize-nav
{
    display: flex;
    justify-content: left;
    height: 100px;
}
.lien1
{
    color: #0065FC;
}
.liennav
{
    width: 140px;
    height: 99px;
}
.lien2
{
    color: black;
    
}
                /* En-dessous-de-l-en-tete*/

/* Zone de recherche*/
.boutonsearch
{
    width: 400px;
    font-size: 0.8em;
    border-radius: 10px;
}
.iconesearch
{ 
    width: 50px;
    height: 50px;
    background-color: rgb(187,181,184,0.3);
    color: black;
    border-radius: 10px 0 0px 10px;
}
.zonederecherche
{
    height: 50px;
    width: 230px;
    font-size: 18px;
    color: black;
    font-weight: bold;
    border: 1px solid #F2F2F2;
}
input
{
    border: 1px solid black;
    height: 50px;
    width: 100%;
    border-style: none;
}

.fondbleu
{
    background-color: #0065FC;
    color: white;
    padding-left: 20px;
    border-radius: 0px 10px 10px 0px;
    padding-right: 20px;
    height: 50px;
    cursor: pointer;
}
/* Les filtres*/

.lesfiltres
{
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 100px;
    font-weight: bold; 
}
.lesfiltres2
{
    display: flex;
    height: 50px;
}
.fixe-filtre
{
    border: 1px solid #F2F2F2;
    border-radius: 30px;
    height: 50px;
    padding-right: 20px;
}
strong
{
    margin-right: 20px;
}
span
{
    margin-right: 20px;
}
.padding-filtre
{
    padding-left: 10px;
}
.lesfiltres2:hover
{
    color: #0065FC;
}
.filtreicone
{
    border-radius: 25px;
    width: 50px;
    height: 50px;
    color: #0065FC;
    border: 1px solid #F2F2F2;
    background-color: #deebff;
}
.filtreicone:hover{
    background-color: #0065FC;
    color: white;
}

/* Icone info*/
.info
{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
 .iconeparent
 {
    width: 30px;
    height: 30px;
    border: 2px solid #F2F2F2;
    border-radius: 25px;
    margin-right: 10px;
    color: #0065FC;
 }

                /* Fin de l'en-tete*/

                    /* SECTION */

/* Hebergement a marseille */
#bloc1
{
    display: flex;
    justify-content: space-between;
}
.flex-texte
{
    width: 90%;
}
.flex-texte2
{
    width: 60%;
    padding-left: 5%;
}
.textepop-place
{
    height: 140px;
}
.hebergement-fond-gris1
{
    background-color: #F2F2F2;
    border-radius: 10px;
    width: 63%;
}
.hebergement-fond-gris2
{
    background-color: #F2F2F2;
    border-radius: 10px;
    width: 33%;
}
.cadreheberg
{
  flex: 1;
}
.text-gras
{
    margin-top: auto;
    font-size: 0.8em;
    font-weight: bold;
}
.color-bleu
{
    color: #0065FC
}
.color-gris
{
    color: #F2F2F2;
}

/* les plus populaires */

.cadrepopulaire
{
    flex: 2;
}
.flex-populaire
{
   display: flex;
   align-items: center;
}
            /* les Formats images */
/* images hebergement */
.photo-hebergement
{
    width: 100%;
    height: 160px;
    border-radius: 15px 15px 0 0;
    background-size: cover;
    background-position: center;
}
.fond-blanc
{
    background-color: white;
    margin: 25px;
    border-radius: 10px;
    padding: 5px;
}
.size-bloc-hebergement
{
    width: 30%;
}
/* images les plus populaires */
.photo-populaire
{
    width: 35%;
    height: 180px;
    border-radius: 15px 0px 0px 15px;
}
                /* Activites a Marseille */
/* reglage general*/
#bloc2
{
    margin-top: 50px;
    margin-bottom: 50px;
}
.bloc-activite
{
    width: 100%;
    height: 450px;
}
.hauteur-titre
{
    padding-left: 10px;
    width: 95%;
}

/* Carte */

/*  Grande carte */
.grandphoto-activite
{
    box-shadow: 5px 5px 5px 1px #F2F2F2;
    border-radius: 15px;
    width: 23%;
    height: 450px;
}
.grandposition-activite
{
    background-position: center;
    background-size: cover;
    border-radius: 15px 15px 0 0;
    width: 100%;
    height: 400px;
}
/* Deux premieres petite carte*/
.petitphoto-activite1
{
    box-shadow: 5px 5px 5px 1px #F2F2F2;
    border-radius: 15px;
    width: 100%;
}
.petitphoto-activite2
{
    box-shadow: 5px 5px 5px 1px #F2F2F2;
    border-radius: 15px;
    width: 100%;
}
.bloc-adapte-petit
{
    width: 23%;
    height: 450px;
}
.petitposition-activite1
{
    background-position: center;
    background-size: cover;
    border-radius: 15px 15px 0 0;
    width: 100%;
    height: 180px;
}
.petitposition-activite2
{
    background-position: center;
    background-size: cover;
    border-radius: 15px 15px 0 0;
    width: 100%;
    height: 130px;
}
/* Les deux dernieres petites cartes */
.petitphoto-activite3
{
    box-shadow: 5px 5px 5px 1px #F2F2F2;
    border-radius: 15px;
    width: 100%;
}
.petitphoto-activite4
{
    box-shadow: 5px 5px 5px 1px #F2F2F2;
    border-radius: 15px;
    width: 100%;
}
.bloc-adapte-petit
{
    width: 23%;
    height: 450px;
}
.petitposition-activite3
{
    background-position: center;
    background-size: cover;
    border-radius: 15px 15px 0 0;
    width: 100%;
    height: 140px;
}
.petitposition-activite4
{
    background-position: center;
    background-size: cover;
    border-radius: 15px 15px 0 0;
    width: 100%;
    height: 170px;
}
/* Pied de la page*/
footer
{
    border-radius: 10px;
    background-color: #F2F2F2;
    height: 185px;
    margin-top: 100px;
    width: auto;
}
.propos
{
    height: 150px;
    margin-left: 5px;
}
.hebergemento
{
    height: 150px;
}
.assiste
{
    margin-right: 15%;
    height: 150px;
}
.espace
{
    height: 30px;
}
